.vscode
_build

mtextos\bloque3_p1_SA-Pipeline-Reviews.md
mtextos\bloque3_p2_SA-Transformers-Basic.md
mtextos\bloque3_p3_SA-Transformers-Training-FineTuning.md
mtextos\bloque3_p4_SA-Transformers-Training-Custom.md
mtextos\bloque3_p5_SA-AutoGOAL.md
mtextos\bloque3_t1_aplicaciones.md
mtextos\bloque3_t2_subaplicaciones-benchmarks.md
mtextos\bloque3_t2.1_analisis_sentimientos.md
mtextos\bloque3_t3.1_metricas.md
mtextos\bloque3_t4_huggingface.md
mtextos\bloque3_t5_automl.md
mtextos\bloque3_t5.1_autogoal.md
mtextos\images\bloque3




